.profile__button-edit_el_avatar {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 120px;
	min-height: 120px;
	background-size: 26px;
	background-color: transparent;
	opacity: 0;
}

.profile__button-edit_el_avatar:hover{
	background-color: rgba(0, 0, 0, .8);
	opacity: 1;
	transition: opacity .3s linear;
}