.profile__button-edit {
	padding: 0;
	margin: 0 0 .5rem 1.13rem;
	width: 24px;
	height: 24px;
	background-image: url('/images/button-edit.svg');
	background-color: inherit;
	background-repeat: no-repeat;
	background-position: center;
	border: .06rem solid #fff;
	box-sizing: border-box;
	grid-row: 1;
	grid-column: 3;
	align-self: end;
}


.profile__button-edit:hover {
	cursor: pointer;
	opacity: .6;
	transition: opacity .3s;
}
