.popup__save-button_disabled {
	border: .0625rem solid rgba(0, 0, 0, 0.2);
	background-color: inherit;
	color: rgba(0, 0, 0, 0.2);
}

.popup__save-button_disabled:hover {
	opacity: unset;
	cursor: default;
}