.popup__container {
	max-width: 430px;
	min-width: 282px;
	height: 330px;
	margin: auto;
	position: relative;
	background: #FFF;
	box-shadow: 0 0 25px rgba(0, 0, 0, .15);
	border-radius: .63rem;
	display: flex;
}

@media screen and (max-width: 579px) {
	.popup__container {
		max-width: 282px;
		height: 322px;
	}
}
