.profile {
	width: 100%;
	margin: auto;
	padding: 2.5rem 0 3.2rem;
	display: flex;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 690px) {
	.profile {
		flex-direction: column;
		align-items: center;
		padding: 2.4rem 0 2.25rem;
	}
}