.popup__form-heading {
	margin: 0 0 1.25rem;
	padding: 0;
	color: #000;
	font-style: normal;
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 1.21;
}

@media screen and (max-width: 579px) {
	.popup__form-heading {
		font-size: 1.13rem;
	}
}