.profile__button-edit {
	padding: 0;
	border: 0;
	background-image: url('../../../images/button-edit.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.profile__button-edit:hover {
	cursor: pointer;
	opacity: .6;
	transition: opacity .3s;
}

@media screen and (max-width: 879px) {
	.profile__button-edit {
		width: 18px;
		height: 18px;
		margin-bottom: .4rem;
	}
}