.profile__user-bio {
	padding: 0;
	margin: 0;
	max-width: 294px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 400;
	font-size: 1.13rem;
	line-height: 1.22;
	grid-column: 1/3;
}

@media screen and (max-width: 879px) {
	.profile__user-bio {
		font-size: .88rem;
	}
}

@media screen and (max-width: 690px) {
	.profile__user-bio {
		grid-column: 1/-1;
		padding-bottom: 2.25rem;
	}
}