.gallery__button-delete {
	width: 18px;
	height: 19px;
	background-image: url('../../../images/delete-button.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 20px;
	right: 20px;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
}