.profile__button-edit_el_info {
	margin: 0 0 .65rem 1.13rem;
	width: 24px;
	height: 24px;
	background-color: inherit;
	border: .06rem solid #fff;
	box-sizing: border-box;
	grid-row: 1;
	grid-column: 3;
	align-self: end;
}

.profile__button-edit_el_info:hover {
	cursor: pointer;
	opacity: .6;
	transition: opacity .3s;
}

@media screen and (max-width: 879px) {
	.profile__button-edit_el_info {
		width: 18px;
		height: 18px;
		margin-bottom: .4rem;
	}
}